body {
  font-family: "Cinzel", serif;
}
@media screen and (min-width: 360px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

p {
  color: #6b6b6b;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 360px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}
@media screen and (min-width: 1200px) {
  .remove-margin-bottom {
    padding: 94px 0 64px 0;
  }
}

@media screen and (min-width: 360px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 94px 0;
}
@media screen and (min-width: 360px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 37px;
}

.header-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #000000;
}

.hmenu {
  transition: 1s;
}

.hmenu:hover {
  border-bottom: 1px solid #000000;
}

.header-list-item {
  margin: 0 62.5px;
}

.header-logo {
  margin: 0 -51px;
}
@media screen and (min-width: 360px) {
  .header-logo {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin: 0 -51px;
  }
}

.header {
  background-color: white;
  padding: 26px 0 19px 0;
  border-bottom: 1px solid #6c6c6c;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 360px) {
  .header {
    padding: 18px 0;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 13px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 26px 0 19px 0;
  }
}

.menu-open-btn {
  background: transparent;
  border: none;
  padding-left: 90%;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 21px;
  left: 75%;
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-close-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob__item:hover {
  color: #2196f3;
}
.mob__item:focus {
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (min-width: 360px) {
  .header-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    margin-left: 60px;
  }
}

.hero {
  background-color: #000000;
  background-attachment: fixed;
  padding: 347px 0 283px 0;
  height: 250px;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .hero {
    padding: 240px 0 283px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    position: relative;
    padding: 347px 0 283px 0;
  }
}

.hero-container {
  margin: 0 auto;
  width: 1150px;
}
@media screen and (min-width: 360px) {
  .hero-container {
    width: 90%;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    width: 1150px;
  }
}

.hero-slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 108px;
  /* identical to box height */
  color: #ffffff;
  left: 18%;
}
@media screen and (min-width: 360px) {
  .hero-slogan {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 53px;
    color: #fff;
    left: 18%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-slogan {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 108px;
    /* identical to box height */
    color: #ffffff;
    left: 18%;
  }
}

.hero-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.7);
}
.hero-caption-wrapper {
  left: 35%;
  top: 50%;
}
@media screen and (min-width: 360px) {
  .hero-caption-wrapper {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero-caption-wrapper {
    position: absolute;
    width: 629px;
    text-align: left;
  }
}

.hero-cover-logo {
  position: absolute;
  top: 0;
  height: 910px;
  overflow: hidden;
  width: -webkit-fill-available;
}
@media screen and (min-width: 360px) {
  .hero-cover-logo {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-cover-logo {
    display: block;
  }
}

.robo-hand {
  position: absolute;
  top: -6%;
  right: -2%;
  overflow: hidden;
  transform: rotate(5deg);
}
@media screen and (min-width: 360px) {
  .robo-hand {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .robo-hand {
    display: block;
  }
}

.human-hand {
  left: -1%;
  bottom: 1%;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .human-hand {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .human-hand {
    position: absolute;
    display: block;
  }
}

.about {
  background-color: transparent;
  height: 982px;
  position: relative;
}
@media screen and (min-width: 360px) {
  .about {
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    height: 982px;
  }
}

.stat-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 360px) {
  .stat-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .stat-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.stat-item {
  background-color: #062983;
  padding: 64px 33px;
  margin: 20px 54px 38px;
  display: flex;
  flex-direction: column;
  flex-basis: 17%;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  transition: 1s ease;
}

.stat-item:hover {
  transform: scale(1.1);
}

.countries {
  background-color: #3935f6;
}

.about {
  background: url("./../../images/toleft.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .about {
    background: transparent;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background: url("./../../images/toleft.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    text-align: center;
  }
}

.about-container {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .about-container {
    position: absolute;
    top: calc(30% - 60px);
  }
}

.item-num {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  color: #ffffff;
}

.item-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.7);
}

.brand-story-container {
  width: 1352px;
  margin: 0 auto;
  padding-top: 127px;
}
@media screen and (min-width: 360px) {
  .brand-story-container {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .brand-story-container {
    width: 1352px;
  }
}

.brand-story {
  background-color: #ffffff;
  margin-top: 80px;
  margin-bottom: 32px;
}

.brand-title {
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 108px;
  /* identical to box height */
  color: #000000;
}

.brand-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
  color: #000000;
}

.brand-story-wrapper {
  display: flex;
}
@media screen and (min-width: 360px) {
  .brand-story-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .brand-story-wrapper {
    flex-direction: row;
  }
}

.left-side {
  flex-basis: 50%;
  text-align: center;
}

.right-side {
  flex-basis: 50%;
  margin-top: 187px;
  position: relative;
}
@media screen and (min-width: 360px) {
  .right-side {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .right-side {
    margin-top: 187px;
  }
}

.brand-text {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  background: linear-gradient(180deg, #000000 60.2%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.button-wrapper {
  text-align: center;
  margin-top: 102px;
  flex-direction: column;
}

.show-more {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  border: none;
  border-bottom: #000000 1px solid;
  position: absolute;
  top: 120%;
  /* right: 118%; */
  /* width: 251px; */
  left: -120px;
  margin-bottom: 32px;
}
@media screen and (min-width: 360px) {
  .show-more {
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .show-more {
    left: -120px;
  }
}

.show-more:focus ~ .brand-text {
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.brand-lines {
  display: none;
}
@media screen and (min-width: 1200px) {
  .brand-lines {
    position: absolute;
    display: inline;
  }
}

.service {
  background-color: transparent;
  height: 982px;
  position: relative;
}
@media screen and (min-width: 360px) {
  .service {
    height: auto;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .service {
    height: 982px;
  }
}

@media screen and (min-width: 360px) {
  .service-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.service {
  background: url("./../../images/toright.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
  margin-top: 154px;
}
@media screen and (min-width: 360px) {
  .service {
    background: #000000;
    margin-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .service {
    background: url("./../../images/toright.png");
    background: url("./../../images/toright.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    text-align: center;
    margin-top: 154px;
  }
}

@media screen and (min-width: 360px) {
  .service-hands {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .service-hands {
    display: inline;
  }
}

.service-title {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 108px;
  /* identical to box height */
  color: #FFFFFF;
  top: 437px;
  right: 50px;
}
@media screen and (min-width: 1200px) {
  .service-title {
    position: absolute;
  }
}

.service-icon-wrapper {
  display: flex;
}
@media screen and (min-width: 360px) {
  .service-icon-wrapper {
    align-self: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .service-icon-wrapper {
    width: auto;
  }
}

.left-side-icons {
  display: flex;
  flex-direction: column;
  top: 88px;
  left: 77px;
  gap: 82px;
}
@media screen and (min-width: 360px) {
  .left-side-icons {
    display: flex;
    flex-direction: column;
    gap: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .left-side-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 88px;
    left: 77px;
    gap: 82px;
  }
}

.right-side-icons {
  display: flex;
  flex-direction: column;
  top: 283px;
  left: 364px;
  gap: 82px;
}
@media screen and (min-width: 360px) {
  .right-side-icons {
    display: flex;
    flex-direction: column;
    /* left: 364px; */
    gap: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .right-side-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 283px;
    left: 364px;
    gap: 82px;
  }
}

.single-icon-wrapper {
  border: 2px solid #062983;
  border-radius: 50%;
  padding: 50px;
}
@media screen and (min-width: 360px) {
  .single-icon-wrapper {
    padding: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .single-icon-wrapper {
    padding: 50px;
  }
}

.icon-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  /* identical to box height */
  color: #1D75B8;
}

.icon-item {
  display: flex;
  flex-direction: column;
}

.vacancy {
  background: url("./../../images/vacantion-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
  height: 982px;
  position: relative;
}

.vacancy-title {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  /* identical to box height */
  color: #FFFFFF;
  top: 54px;
  left: 59px;
}
@media screen and (min-width: 360px) {
  .vacancy-title {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #fff;
    /* position: absolute; */
    /* top: 54px; */
    /* left: 59px; */
    /* text-align: left; */
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .vacancy-title {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    /* identical to box height */
    color: #FFFFFF;
    position: absolute;
    top: 54px;
    left: 59px;
    text-align: left;
  }
}

@media screen and (min-width: 360px) {
  .form-fields {
    flex-direction: column;
    width: 63%;
  }
}
@media screen and (min-width: 1200px) {
  .form-fields {
    flex-direction: row;
    width: 35%;
  }
}

.vacancy-text-wrapper {
  margin: 0;
  background: #fff;
  position: absolute;
  top: calc(53% - 1px);
  left: calc(50% + 4px);
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border: 2px solid #0E2F40;
  border-radius: 50%;
  padding: 72px 51px;
}
@media screen and (min-width: 360px) {
  .vacancy-text-wrapper {
    margin: 0;
    background: #fff;
    position: absolute;
    top: calc(53% - 1px);
    left: calc(50% + 0px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* width: 376px; */
    border: 2px solid #0e2f40;
    border-radius: 50%;
    padding: 150px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .vacancy-text-wrapper {
    margin: 0;
    background: #fff;
    position: absolute;
    top: calc(53% - 1px);
    left: calc(50% + 4px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 376px;
    border: 2px solid #0E2F40;
    border-radius: 50%;
    padding: 138px 51px;
  }
}

.contact-button {
  margin: 0;
  background: #fff;
  position: absolute;
  /* top: 94%; */
  left: calc(50% + 4px);
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* width: 347px; */
  background: #062983;
  border-radius: 30px;
  padding: 18px 97px;
  bottom: 80px;
  cursor: pointer;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  /* identical to box height */
  color: #FFFFFF;
}

.vacancy-text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.rate {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 185px;
  padding-bottom: 71px;
}

@media screen and (min-width: 360px) {
  .rate-right-side {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .rate-right-side {
    display: block;
  }
}

.rate-title {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 81px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 89px;
}

.rate-text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  margin-bottom: 73px;
}

.rate-container {
  width: 1371px;
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .rate-container {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .rate-container {
    width: 1371px;
    display: flex;
    margin: 0 auto;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.name-field {
  display: flex;
  flex-direction: column;
}

.rate-button {
  margin-top: 55px;
  margin-right: 150px;
  align-self: center;
}
@media screen and (min-width: 360px) {
  .rate-button {
    margin-top: 55px;
    margin-right: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .rate-button {
    margin-top: 55px;
    margin-right: 150px;
    align-self: center;
    text-align: -webkit-center;
  }
}

.rate-button button {
  color: #ffffff;
  background-color: #062983;
  padding: 30px 40px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
  display: flex;
  gap: 40px;
  cursor: pointer;
}

.mail-field {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
  gap: 61px;
  text-align: left;
}

.rate-form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 7px;
}

.rate-input {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  width: 253px;
  height: 37px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
@media screen and (min-width: 360px) {
  .rate-input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .rate-input {
    width: 253px;
  }
}

.input-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.footer {
  background-color: #d9d9d9;
  padding-top: 21px;
  padding-bottom: 36px;
}

.footer-container {
  width: 1404px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .footer-container {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    width: 1404px;
    margin: 0 auto;
  }
}

.footer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  color: #000000;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 360px) {
  .footer-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: row;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.soc-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.footer-adress {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 360px) {
  .footer-adress {
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.footer-phone {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 360px) {
  .footer-phone {
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-phone {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.phone {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #000000;
}

.footer-menu {
  text-align: center;
  margin: 22px 73px 10px 73px;
}

.menu-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 2px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-form-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.footer-form {
  width: 528px;
}
@media screen and (min-width: 360px) {
  .footer-form {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 528px;
  }
}

.form-upper {
  display: flex;
  gap: 1px;
}
@media screen and (min-width: 360px) {
  .form-upper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .form-upper {
    flex-direction: row;
    width: 100%;
  }
}

.footer-form-email {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 19px 25px;
}

.footer-form-name {
  background-color: #ffffff;
  text-align: center;
<<<<<<< HEAD
  padding: 16px 0;
=======
  padding: 16px 37px;
  display: flex;
>>>>>>> 9b358e0cab4297d99f1b3449976677e1e965696d
  flex-direction: column;
}
@media screen and (min-width: 360px) {
  .footer-form-name {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-name {
    background-color: #ffffff;
    text-align: center;
    padding: 16px 40.4px;
  }
}

.footer-form-phone {
  background-color: #fff;
  text-align: center;
<<<<<<< HEAD
  padding: 16px 0;
=======
  padding: 16px 37px;
  display: flex;
>>>>>>> 9b358e0cab4297d99f1b3449976677e1e965696d
  flex-direction: column;
}
@media screen and (min-width: 360px) {
  .footer-form-phone {
    flex-direction: column;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-phone {
    background-color: #fff;
    text-align: center;
    padding: 16px 40.4px;
  }
}

.fform {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.fname-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 2px;
}

.fphone-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 2px;
}

.fname-input {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
}
@media screen and (min-width: 360px) {
  .fname-input {
    margin: auto;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .fname-input {
    border: none;
    border-bottom: 1px #000000 solid;
    padding: 10px;
    width: auto;
  }
}

.fphone-input {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
}
@media screen and (min-width: 360px) {
  .fphone-input {
    margin: auto;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .fphone-input {
    border: none;
    border-bottom: 1px #000000 solid;
    padding: 10px;
    width: auto;
  }
}

.fmail-input {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
}

.fform {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer-button {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
  background-color: #062983;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 33px;
  padding: 13px 112px;
}

@media screen and (min-width: 360px) {
  .footer-map {
    align-self: center;
  }
}/*# sourceMappingURL=main.css.map */