.brand-story-container {
    width: 1352px;
margin: 0 auto;
padding-top: 127px;
@media screen and (min-width: 360px) {
  width: 90%;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
    width: 1352px;
}
}

.brand-story {
    background-color: #ffffff;
    // height: 982px;
    margin-top: 80px;
    margin-bottom: 32px;
}

.brand-title {
    font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 108px;
/* identical to box height */


color: #000000;
}

.brand-subtitle {
    font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 47px;

color: #000000;
}

.brand-story-wrapper {
    display: flex;
    @media screen and (min-width: 360px) {
        flex-direction: column;
          }
          @media screen and (min-width: 768px) {
            
          }
          @media screen and (min-width: 1200px) {
            flex-direction: row;
          }
}

.left-side {
    flex-basis: 50%;
    text-align: center;
}

.right-side {
    flex-basis: 50%;
    margin-top: 187px;
    position: relative;
    @media screen and (min-width: 360px) {
        margin-top: 60px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        margin-top: 187px;
    }
}

.brand-text {
    font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 34px;

background: linear-gradient(180deg, #000000 60.2%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.button-wrapper {
    text-align: center;
    margin-top: 102px;
    flex-direction: column;
    
}

.show-more {
    background-color: #ffffff;
    font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;

color: #000000;
border: none;
border-bottom: #000000 1px solid;
position: absolute;
top: 120%;
/* right: 118%; */
/* width: 251px; */
left: -120px;
margin-bottom: 32px;
@media screen and (min-width: 360px) {
    left: 0;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
    left: -120px;
}
}

.show-more:focus ~ .brand-text {
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
}

.brand-lines {
    display: none;
    @media screen and (min-width: 360px) {
//   display: none;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        position: absolute;
        display: inline;
    }
}