.footer {
  background-color: #d9d9d9;
  padding-top: 21px;
  padding-bottom: 36px;
}

.footer-container {
  width: 1404px;
  margin: 0 auto;
  @media screen and (min-width: 360px) {
  width: 90%;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    width: 1404px;
  margin: 0 auto;
  }
}

.footer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;

  color: #000000;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  gap: 30px;
  @media screen and (min-width: 360px) {
    display: flex;
  gap: 30px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  gap: 30px;
  flex-direction: row;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.soc-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;
}

.footer-adress {
  display: flex;
  align-items: center;
  gap: 12px;
  @media screen and (min-width: 360px) {
    align-self: center;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      display: flex;
  align-items: center;
  gap: 12px;
    }
}

.footer-phone {
  display: flex;
  align-items: center;
  gap: 30px;
  @media screen and (min-width: 360px) {
    align-self: center;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      display: flex;
  align-items: center;
  gap: 30px;
    }
}

.phone {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.footer-menu {
  text-align: center;
  margin: 22px 73px 10px 73px;
}

.menu-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
  margin-bottom: 2px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

  opacity: 0.5;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-form-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

.footer-form {
  width: 528px;
  @media screen and (min-width: 360px) {
    width: 100%;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  width: 528px;
}
}

.form-upper {
  display: flex;
  gap: 1px;
  @media screen and (min-width: 360px) {
    flex-direction: column;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  flex-direction: row;
  width: 100%;
}
}

.footer-form-email {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 19px 25px;
}

.footer-form-name {
  background-color: #ffffff;
  text-align: center;
<<<<<<< HEAD
  padding: 16px 0;
  // display: flex;
=======
  padding: 16px 37px;
  display: flex;
>>>>>>> 9b358e0cab4297d99f1b3449976677e1e965696d
  flex-direction: column;
  @media screen and (min-width: 360px) {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  background-color: #ffffff;
  text-align: center;
  padding: 16px 40.4px;
}
}

.footer-form-phone {
  background-color: #fff;
  text-align: center;
<<<<<<< HEAD
  padding: 16px 0;
  // display: flex;
=======
  padding: 16px 37px;
  display: flex;
>>>>>>> 9b358e0cab4297d99f1b3449976677e1e965696d
  flex-direction: column;
  @media screen and (min-width: 360px) {
    flex-direction: column;
    display: flex;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  background-color: #fff;
  text-align: center;
  padding: 16px 40.4px;
}
}

.fform {
  display: flex;
  flex-direction: column;
  gap: 2px;
//   @media screen and (min-width: 360px) {
//     display: flex;
//   flex-direction: column;
//   gap: 2px;
// }
// @media screen and (min-width: 768px) {
  
// }
// @media screen and (min-width: 1200px) {
//   display: flex;
//   flex-direction: column;
//   gap: 1px;
// }
}

.fname-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

  opacity: 0.5;
  margin-bottom: 2px;
}

.fphone-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

  opacity: 0.5;
  margin-bottom: 2px;
}

.fname-input {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
  @media screen and (min-width: 360px) {
    margin: auto;
    width: 90%;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
  width: auto;
}
}

.fphone-input {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
  @media screen and (min-width: 360px) {
    margin: auto;
    width: 90%;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
  width: auto;
}
}

.fmail-input {
  border: none;
  border-bottom: 1px #000000 solid;
  padding: 10px;
}

.fform {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer-button {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
  background-color: #062983;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 33px;
  padding: 13px 112px;
}

.footer-map {
  @media screen and (min-width: 360px) {
  align-self: center;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    
  }
}
